<!--THEME COLOR: 156A7F -->
body {
	font-family: 'Open Sans', sans-serif !important;
	height: 100%;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b {
	 font-family: 'Open Sans', sans-serif !important;

 }
h2.resume {
	text-align: center;
	color: white;
	animation-name: loading;
	animation-duration: 2s;
	animation-timing-function: linear;
}
#front_page{
	text-align: center;
	color: white;
  background:url('../images/background/bg.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.vertical-center{
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
	display: flex;
  align-items: center;

}
#front_page.container{
	position: relative;
	text-align: center;
	top: 28%;

}
#front_page hr{
	width:50%;
}

.container h1{
	font-size: 4em;
	width: auto;
	animation-name: loading;
	animation-duration: 2s;
	animation-timing-function: linear;
}
.scroll-down{
	height: 80px;
	width: 110px;
	display: block;
	position: absolute;
	bottom: 0px;
	right: 4%;
	/*background-color: black;*/
	text-align: center;

	text-decoration: none;
}
.scroll-down span{
	color: white;
	padding-top: 22px;
	animation-name: bounce;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction:linear;
	animation-duration: 1.5s;
}
@keyframes bounce {
	0% {
		padding-top: 5px;
		color:#27303D;
		font-size: 1em;
	}
	50% {
		padding-top: 40px;
		color: white;
		font-size: 2.5em;
	}
	100% {
		padding-top: 5px;
		color: #27303D;
		font-size: 1em;
	}
}
@keyframes loading {
	0% {
		width: 90%;
		color: white;
	}
	50% {
		width: 95%;
		color: #505050;
	}
	100% {
		width: 100%;
		color: #727878;
	}
}

#navigation_bar {
	display: none;
	width: 109px;
	left:96%;
	top: 30%;
  border:0px;
  margin:0px;
  color: white;
  border-radius: 10px;
}
#navigation_bar .container-fluid{
	text-align: left;
	padding-left: 0px;
}

#bs-example-navbar-collapse-1 li{
  margin-top: 0px;
}


.glyphy_icon{
  text-align: left;
  /*display: none;*/
  font-size: 1.45em;
  color: #83d5e1;
}

.glyphy_icon_name{
  display: none;
  color: #83d5e1;
}
#about{
  background:url('../images/background/about1.png')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 30px;
}
#about .container{
	width: 75%;
	margin: 0 auto;
}


#about h2{
	padding-top: 50px;
	color:#156A7F;
	font-size: 54px;;
	text-align: center;
	font-family: times;
  margin-top: 0px;
  margin-bottom: 0px;
}

#about hr{
	margin-top: 0px;
	width: 75%;
	height: 1px;
	background-color: #056A77;
	opacity: 0.3;
}
#about h3{
	color:#156A7F;
	font-size: 2em;
}
#about p{
	text-align: justify;
	color:black;
	font-family: 'Open Sans', sans-serif !important;
}
.buddha_quote{
	font-style: italic;
}
 .quote{
	width: 100%;
	text-align: center;
}

.btn-primary{
	background-color: black;
	color: #83d5e1;

}
.btn-primary:hover{
	background-color: #156a7f;
}



.photo_div{
	margin-top: 20px;
}
.img-circle{

	width: 175px;
	height: 175px;
	display: block;
	margin: auto;
}
.text_bold_left{
	font-weight: bold;
	text-align: left;
	margin-bottom: 0px;
}

.iframe-container {
	 padding-bottom: 60%;
	 padding-top: 30px; height: 0; overflow: hidden;

}

.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;

}
#downloadResume{
	margin-top: 30px;
	text-align: center;
	/*margin: 0 auto;*/
}

#projects{
  background:url('../images/background/project1.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	padding-bottom: 50px;
}
#projects h2{
	padding-top: 50px;
	color:white;
	font-size: 54px;;
	text-align: center;
	font-family: times;
  margin-top: 0px;
}
#projects .quote{
  width: 100%;
	text-align: center;
  color: white;
  opacity: 0.7;
}
#projects hr{
	margin-top: 0px;
	width: 75%;
	height: 1px;
	background-color: #056A77;
	opacity: 0.8;
}

#projects .container{
  width: 60%;
  margin: 0 auto;
}
.carousel-left,.carousel-right{
  line-height: 122px;
  font-size: 3em;

}

#projects a:link, #projects a:link, #projects a:visited, #projects a:visited, #projects a:hover, #projects a:hover{
    text-decoration: none;
    color: #83d5e1;
}
.carousel-caption{

    position:static;
     color:black;
}
.carousel-caption .row{

	color: black;
	/*background-color: gray;*/
}

#this-carousel-id h3{
  color: white;
  text-shadow: none;
  text-align: left;
  font-weight: 600;
}
.description{
  text-align: justify;
  text-shadow: none;
  color: white;
	height: 80px;
}

.small_image_resize{
  width: 125px;
  height: 125px;
  margin-top: 25px;
  margin-right: 20px;
}

#education{
  /*background:url('/images/background/grad.jpg')no-repeat center center fixed;*/
	/*background-color: #5ABED1;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
	background:url('../images/background/pun1.jpg')no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
#education h2{
	padding-top: 50px;
	font-size: 54px;;
	text-align: center;
	font-family: times;
  margin-top: 0px;
	/*color: white;*/
}
#education .quote{
  width: 100%;
	text-align: center;
  opacity: 0.7;
}
#education hr{
	margin-top: 0px;
	width: 75%;
	height: 1px;
	background-color: #056A77;
	opacity: 0.8;
}



.timeline time{
	font-size: 1.5em;
}
.timeline ul li{
	list-style-type: none;
	position: relative;
	width: 6px;
	margin: 0 auto;
	padding-top: 50px;
	background: white;

}

.timeline ul li::after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: inherit;
	/*transition: background .5s ease-in-out;*/
}

.timeline ul li div{
	position: relative;
	bottom: 0;
	width: 380px;
	padding: 25px;
	background: #166077;
	color: white;
	border-radius: 10px;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent black transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent black;
}

.timeline ul li::after {
  background: #fff;
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #1B8BA0;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
	padding-left: 20px;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px,0,0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px,0,0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
.timeline time{
	font-weight: bold;
}
.no_indent_span{
	display: inline-block;
    margin-left : -10px;
		width: 7px;
}

#pubandcert h2{
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px  dashed black;

}


.flip-container {
	perspective: 1000px;
	padding-top: 20px;
	/*text-align: center;*/
	/*margin-bottom: 50px;*/
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	height: 240px;
	margin: 0 auto;
	/*padding-top: 30px;*/
}

/* flip speed goes here */
.flipper {
	transition: 1.5s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	width: 100%;
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

.flip-container img{
	display: block;
	margin: auto;
}
.flip2{
	margin-top: 20px;
}
/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	margin-top: 50px;
}

.back a{
	text-decoration: none;
	color: black;

}


#contact {
	background: url('../images/background/end.jpg');
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	text-align: center;
}
#contact h2{
	margin-top: 0px;
	color: white;
	padding-top: 20px;
	margin-bottom: 0px;
	text-align: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
	height: 50px;
	color: white;
	padding-bottom:80px;
}

.fa:hover {
    opacity: 0.7;
		color:#156A7F ;
		text-decoration: none;
}

.contactFrm{
	display: none;
	width:100%;
	height:100%;
	opacity:.95;
	top:0;
	left:0;
	display:none;
	position:fixed;
	background: url('../images/background/end.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	overflow:auto;
}

#close{
	position:absolute;
	right:-14px;
	top:-14px;
	cursor:pointer;
	width: 30px;
	height: 30px;
}

.inner_form{
	position:absolute;
	left:50%;
	top:17%;
	margin-left:-202px;
	font-family:'Raleway',sans-serif;
	/*margin: 0 auto;*/
}

#myForm{
	max-width:300px;
	min-width:250px;
	border-radius:10px;
	font-family:raleway;
	background-color:white;

}
input[type=text] {
	width:80%;
	color: white;
	margin-top: 12px;
	font-size:16px;
	font-family:raleway;
	background-color:white;
	border-top:0px;
	border-right:0px;
	border-left:0px;
	border-bottom: 1px solid gray;
}

textarea {
	width:80%;
	height:95px;
	color: white;
	resize:none;
	margin-top: 12px;
	margin-bottom: 20px;
	font-size:16px;
	font-family:raleway;
	background-color:white;
	border-top:0px;
	border-right:0px;
	border-left:0px;
	border-bottom: 1px solid gray;
}
#submit {
	margin-left: 10px;
	margin-right: 10px;
	padding: 0px;
	cursor: pointer;
	background-color:white;
	border: 0px;


}

#myForm h2{
	color: black;
	margin-bottom: 15px;
}

.copyright{
	font-size: 1.0em;
	font-style: italic;
	color: white;
}
/*
::-webkit-input-placeholder {
  color: white;
}
::-moz-placeholder {
  color: white;
}
:-ms-input-placeholder {
  color: white;
}
:-moz-placeholder {
  color: white;
}*/

/* **************** MEDIA QUERIES ********************************/

@media(max-width:991px) and (min-width:768px){
	#front_page hr{
		width: 90%;
	}
	#about h3{
		text-align: center;
	}
	#projects .container{
		width: 90%;
	}
	.description{
		overflow: auto;
		height: 150px;
	}
	#this-carousel-id h3{
		text-align: center;
	}
	.timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px; /*250+45-6*/
  }

}
@media(max-width:767px) and (min-width:340px) {
	#front_page hr{
		width: 90%;
	}
	.scroll-down{
		margin-left: 0px;
		width: 100%;
		left: 0%;
	}
	.quote{
		padding-left: 10px;
		padding-right: 10px;
}
	#about h3{
		text-align: center;
	}
	#about hr{
		width: 90%;
	}
	#navigation_bar {
		width: 100%;
		left: 0px;
		top:0px;
    border-radius: 0px;
	}
  #bs-example-navbar-collapse-1 li{
    text-align: center;
  }
  .glyphy_icon{
    display: none;
  }
  .glyphy_icon_name{
    display: inline;
  }
  .small_image_resize{
    width: 70px;
    height: 70px;
  }
	#projects .container{
		width: 100%;
	}
	.description{
		overflow: auto;
		height: 210px;
		width: 100%;
	}
	#this-carousel-id h3{
		text-align: center;
	}.timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 150px);
  }

  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent black transparent transparent;
  }
}


@media(max-width:339px) {
	#front_page h1{
		font-size: 3.5em;
	}
	#front_page hr{
		width: 90%;
	}
	.scroll-down{
		margin-left: 0px;
		width: 100%;
		left: 0%;
	}
	.quote{
		padding-left: 10px;
		padding-right: 10px;
}

	#about h3{
		text-align: center;
	}
	#about hr{
		width: 90%;
	}

	#navigation_bar {
		width: 100%;
		left: 0px;
		top:0px;
    border-radius: 0px;
	}
  #bs-example-navbar-collapse-1 li{
    text-align: center;
  }
  .glyphy_icon{
    display: none;
  }
  .glyphy_icon_name{
    display: inline;
  }
  .small_image_resize{
    width: 65px;
    height: 65px;
		margin:0px;
  }
	#projects .container{
		width: 100%;
	}
	.description{
		overflow: auto;
		height: 75px;
		width:100%;
	}
	#this-carousel-id h3{
		text-align: center;
	}
	.timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 103px);
  }

  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent black transparent transparent;
  }
}
